body 
{
    @include flexCenter(column);

    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    background-image: url('../images/abstract-1779589_1920.png');

    .game-Title
    {
        @include flexCenter();
        margin-top: 150px;
        width: 50%;

        background-color: $field-color;
        border: 2px solid $glasses-color;
    
        border-radius: 12px;
        height: 100px;
        padding: 12px;
    
        font-size: 32px;
        color: white;
        text-shadow: 0 4px 8px $glasses-color;
    }

    #main-container2
    {
        margin-top: 10px;
        @include flexCenter();
        column-gap: 32px;

        .left-container
        {
            @include flexCenter(column);

            button
            {
                @include flexCenter();
            
                background-color: $field-color;
                border: 2px solid $glasses-color;
            
                border-radius: 12px;
                width: 800px;
                height: 100px;
                padding: 12px;
            
                font-size: 40px;
                color: white;
                text-shadow: 0 4px 8px $glasses-color;

                cursor: pointer;
            }
        }
        .middle-container
        {
            #timer2
            {
                @include flexCenter();
            
                background-color: $field-color;
            
                width: 130px;
                height: 130px;
            
                border: 3px dotted $glasses-color;
            
                font-size: 48px;
                text-shadow: 0 4px 8px $glasses-color;
                color: white;
            }
        }
        .right-container 
        {
            @include flexCenter(column);

            button
            {
                @include flexCenter();
            
                background-color: $field-color;
                border: 2px solid $glasses-color;
            
                border-radius: 12px;
                width: 800px;
                height: 100px;
                padding: 12px;
            
                font-size: 40px;
                color: white;
                text-shadow: 0 4px 8px $glasses-color;

                cursor: pointer;
            }
        }
    }
}

.redFieldAnimate
{
    animation: redField 1s linear;
}

@keyframes redField
{
    0% 
    {
        background-color: #87328423;
    }
    25% 
    {
        background-color: rgba(255, 0, 0, 0.423);
    }
    50%
    {
        background-color: #87328423;
    }
    75%
    {
        background-color: rgba(255, 0, 0, 0.423);
    }
    100%
    {
        background-color: #87328423;
    }

}